<div class="bg-wrapper">
  <div class="bg"></div>
  <div class="row">
    <div class="large-7 medium-7 columns">
      <div class="hero">
        <h1>Infuse your business with synergy</h1>
        <h4>Acme automates your strategic marketing issues with a full suite of awesome, performance enhancing, turbo chargers!</h4>
      </div>
      <div class="main">
        <h3>What we can do for you</h3>
        <ul>
          <li>Some key benefit/feature that will blow peoples mind in an easy to scan bullet point</li>
          <li>Another benefit or key feature that adds real value to this offering and makes people even more prone to convert</li>
          <li>A last selling point that will close the deal and make everybody jump out their chairs to fill out the form</li>
        </ul>
      </div>
    </div>
    <div class="large-5 medium-5 columns">
      <div class="panel">
        <form action="thank-you.html">
          <h3>Interested in our Service?</h3>
          <p>
            Then get in touch straight away, don't wait. Just fill out this form and we'll get back to you.
          </p>
          <p class="inplace-label">
            <input id="name" type="text" name="name" required placeholder="Your full name" class="input">
            <label for="name">Name *</label>
          </p>
          <p class="inplace-label">
            <input id="email" type="email" name="email" required placeholder="Your email address" class="input">
            <label for="email">Email *</label>
          </p>
          <p class="inplace-label">
            <input id="phone" type="text" name="phone" required placeholder="Your phone number" class="input">
            <label for="phone">Phone *</label>
          </p>
          <p class="inplace-label">
            <input id="company" type="text" name="company" placeholder="Company name" class="input">
            <label for="company">Company</label>
          </p>
          <p class="inplace-label">
            <input id="website" type="url" name="website" placeholder="example.com" class="input">
            <label for="website">Website</label>
          </p>
          <div>
            <label for="employees">Number of Employees</label>
            <div class="select-wrapper">
              <select id="employees" name="number_of_employees">
                <option>1-10</option>
                <option>11-50</option>
                <option>51-500</option>
                <option>500+</option>
              </select>
            </div>
          </div>
          <p>
            <button class="primary button">Request a call back</button>
          </p>
          <p class="text-center"><small>We will never send you spam and you'll always be able to unsubscribe from our mailing list.</small></p>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="large-12 columns">
    <blockquote class="testimonial text-center">
      <p class="blurb">Acme helped me optimize a whole new strategy for my cross-vertical, lead-gen campaign. They've been awesome and I'm totally a real customer.</p>
      <div class="photo"><img src="img/testimonial.jpg"></div>
      <cite>John Doe, Orwell Megacorp</cite>
    </blockquote>
  </div>
</div>

<div class="logos">
  <div class="row">
    <div class="large-12 columns">
      <h5 class="text-center">Who's Talking About Us</h5>
      <ul class="large-block-grid-4 small-block-grid-4 medium-block-grid-4">
        <li><img class="large-10 small-8" src="img/press-logo-1.png"></li>
        <li><img class="large-10 small-8" src="img/press-logo-1.png"></li>
        <li><img class="large-10 small-8" src="img/press-logo-1.png"></li>
        <li><img class="large-10 small-8" src="img/press-logo-1.png"></li>
      </ul>
    </div>
  </div>
</div>
